.title {
  font-family: Roboto;
}

body {
  margin: 0px 5px 0px 0px;
}

.wrapper {
  margin: auto;
  width: 81%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 126px;
  height: 116px;
}

.logo {
  position: relative;
  padding: 39px 0;
  padding-left: 60px;
  font: normal 24px/32px "pt_serifbold", Arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 16px;
  top: 47%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 24px;
  top: 53%;
  background: #C8DBFB;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 27px;
  font: 500 18px/21px Roboto, Arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:after {
  position: absolute;;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover:after, .menu__item_activ:after {
  opacity: 1;
  width: 100%;
}

.main {
  padding:74px 63% 100px 14px;
  background: top right no-repeat url(img/mainImg.svg);
}

.main__title {
  margin: 0 0 36px 0;
  font: normal 66px/87px "pt_serifbold", Arial, helvetica, sans-serif;
}

.main__subtitle {
  margin: 0 0 42px 0;
  padding:0 20% 0 0;
  font: 22px/26px Roboto, Arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ECF3FF;
}
.main__button {
  margin-left: 3px;
  display: inline-block;
  font: 250 18px/21px Roboto, Arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 18px 37px 18px 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: .5s;
}

.main__button:hover {
  opacity: .5;
}
