.title {
  font-family: Roboto;
}

body {
  margin: 0px 13px 0px 0px;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 126px;
  height: 116px;
}

.logo {
  position: relative;
  padding: 39px 0;
  padding-left: 50px;
  font: normal 24px/32px "pt_serifbold", Arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 6px;
  top: 47%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 14px;
  top: 53%;
  background: #C8DBFB;
}

.menu {
  padding-top: 28px;
  padding-left: 17px;
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 27px;
  font: 500 18px/21px Roboto, Arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:after {
  position: absolute;;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover:after, .menu__item_activ:after {
  opacity: 1;
  width: 100%;
}

.main {
  padding:74px 63% 100px 4px;
  background: top right no-repeat url(img/mainImg.svg);
}

.main__title {
  margin: 0 0 36px 0;
  font: normal 66px/87px "pt_serifbold", Arial, helvetica, sans-serif;
}

.main__subtitle {
  margin: 0 0 42px 0;
  padding:0 20% 0 0;
  font: 22px/26px Roboto, Arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ECF3FF;
}
.main__button {
  margin-left: 3px;
  display: inline-block;
  font: 250 18px/21px Roboto, Arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 18px 37px 18px 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: .5s;
}

.main__button:hover {
  opacity: .5;
}

#checkbox {
  opacity: 0;
}

@media (max-width: 1755px) {

  .main {
    padding:18px 50% 100px 15px;
  }

}

@media (max-width: 1600px) {

  .wrapper {
    width: 92%;
  }

}

@media (max-width: 1367px) {

  .wrapper {
    margin: auto;
    width: 70%;
  }

  .header {
    margin-bottom: 77px;
  }

  .logo {
    padding: 39px 0;
    padding-left: 60px;
  }

  .logo__circle {
    left: 15px;
  }

  .logo__circle_color_blue {
    left: 23px;
  }

  .menu {
    padding: 33px 7px 0 17px;
  }

  .menu__item {
    font: 500 14px/16px Roboto, Arial, helvetica, sans-serif;
  }

  .main {
    padding:18px 50% 100px 15px;
    background-size: 55%;
  }

  .main__title {
    margin: 0 0 39px 0;
    font: normal 50px/66px "pt_serifbold", Arial, helvetica, sans-serif;
  }

  .main__subtitle {
    font: normal 18px/21px Roboto, Arial, helvetica, sans-serif;
  }

  .main__button {
    margin-left: 2px;
    font: 500 14px/16px Roboto, Arial, helvetica, sans-serif;
    padding: 14px 25px 13px 16px;
  }
}

@media (max-width: 1250px) {

  .wrapper {
    width: 85%;
  }

}

@media (max-width: 1025px) {

  .wrapper {
    margin: auto;
    width: 95%;
  }

  .header {
    margin-bottom: 80px;
  }

  .logo {
    padding: 39px 0;
    padding-left: 65px;
  }

  .logo__circle {
    left: 21px;
  }

  .logo__circle_color_blue {
    left: 29px;
  }

  .menu {

    padding: 33px 7px 0 17px;
  }

  .menu__item {
    font: 500 14px/16px Roboto, Arial, helvetica, sans-serif;
  }

  .main {
    margin-right: 10px;
    padding:16px 50% 100px 21px;
    background-size: 54%;
  }

  .main__title {
    margin: 0 0 39px 0;
    font: normal 50px/66px "pt_serifbold", Arial, helvetica, sans-serif;
  }

  .main__subtitle {
    margin: 0 0 41px 0;
    font: normal 500 18px/21px Roboto, Arial, helvetica, sans-serif;
  }

  .main__button {
    margin-left: 1px;
    font: 500 14px/16px Roboto, Arial, helvetica, sans-serif;
    padding: 14px 25px 13px 16px;
  }
}

@media (max-width: 900px) {

  .wrapper {
    width: 92%;
  }

  .main__title {
    font: normal 30px/40px "pt_serifbold", Arial, helvetica, sans-serif;
  }

  .main__subtitle {
    font: 500 16px/19px Roboto, Arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px Roboto, Arial, helvetica, sans-serif;
  }

}

@media (max-width: 744px)  {
  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 150px 0;
    list-style: none;
    text-align: center;
    background-color: #FFF;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }

  .menu__item {
    margin: 0;
    display: block;
    padding: 12px 24px;
    font: 500 30px/35px Roboto, Arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition-duration: .25s;
  }

  menu__item:hover {
    background-color: #CFD8DC;
  }

  #checkbox:checked~.menu__checkbox >span {
    transform: rotate(45deg);
  }

  #checkbox:checked~.menu__checkbox >span::before {
    top: 0;
    transform: rotate(0);
  }

  #checkbox:checked~.menu__checkbox >span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #checkbox:checked~.menu {
    left: 0;
    visibility: visible;
  }

  .menu__checkbox {
    display: flex;
    align-items: center;
    position: fixed;
    top: 32px;
    width: 25px;
    height: 17px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__checkbox > span,
  .menu__checkbox > span::before,
  .menu__checkbox > span::after {
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #0056EC;
    transition-duration: .25s;
  }

  .menu__checkbox > span::before {
    content: '';
    top: -8px;
  }

  .menu__checkbox > span::after {
    content: '';
    top: 8px;
  }

  .menu__item_activ:after {
    opacity: 1;
    width: 0;
  }

  .wrapper {
    margin: 0 0 0 18px;
    width: 93%;
  }

  .header {
  height: 86px;
  margin: 0;
  }

  .logo__text {
    opacity: 0;
  }

  .logo__circle {
    top: 43%;
  }

  .logo__circle_color_blue {
    top: 52%;
  }

  .main {
    margin-left: 25px;
    text-align: center;
    padding: 60% 0 0;
    background-size: 80%;
    background-position: top center;
  }

  .main__title {
    margin:8px 0 33px 7px;
    font: normal 30px/40px "pt_serifbold", Arial, helvetica, sans-serif;
  }

  .main__subtitle {
    padding: 0;
    width: auto;
    margin: 0 0 25px 18px;
    font: 500 16px/19px Roboto, Arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px Roboto, Arial, helvetica, sans-serif;
    padding: 14px 25px 13px 17px;

  }
}

@media (max-width: 376px)  {

  .wrapper {
    width: 91%;
  }

  .main {
    padding: 76.5% 0 0;
    background-size: 96%;
  }

  .logo__circle {
    left: 6px;
  }

  .logo__circle_color_blue {
    left: 14px;
  }

  .main__title {
    margin:8px 0 33px;
  }

  .main__subtitle {
    margin: 0 10px 25px 10px;
  }

  .main__button {
    margin-right: 5px;
  }

}
